<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulaire stage</title>
</head>
<body>
    <h1>Ajouter un stage</h1>
    <form action="/add_stage" method="post">
        <label for="domaine">Domaine:</label>
        <input type="text" id="domaine" name="domaine" required><br><br>

        <label for="duree">Durée:</label>
        <input type="number" id="duree" name="duree" required>
        <span>mois</span><br><br>

        <label for="etudiant">Étudiant:</label>
        <input list="etudiants" id="etudiant" name="etudiant_nom" required>
        <datalist id="etudiants">
            {% for etudiant in etudiants %}
                <option value="{{ etudiant.prenom }} {{ etudiant.nom_etudiant }}">
            {% endfor %}
        </datalist>
        <a href="{{ url_for('etudiant_bp.add_etudiant') }}">Ajouter un nouvel étudiant</a><br><br>

        <label for="entreprise">Entreprise:</label>
        <input list="entreprises" id="entreprise" name="entreprise_nom" required>
        <datalist id="entreprises">
            {% for entreprise in entreprises %}
                <option value="{{ entreprise.nom_entreprise }}">
            {% endfor %}
        </datalist>
        <a href="{{ url_for('entreprise_bp.add_entreprise') }}">Ajouter une nouvelle entreprise</a><br><br>


        <button type="submit">Ajouter le stage</button>

        <a href="{{ url_for('stage_bp.liste_stages') }}">Annuler</a>

    </form>
</body>
</html>