<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des stages</title>
</head>
<body>
    <h1>Liste des stages</h1>
    <table>
        <thead>
            <tr>
                <th>Domaine</th>
                <th>Durée</th>
                <th>Étudiant</th>
                <th>Entreprise</th>
            </tr>
        </thead>
        <tbody>
            {% for stage in stages %}
            <tr>
                <td>{{ stage.domaine }}</td>
                <td>{{ stage.duree }}</td>
                <td>{{ stage.etudiant.prenom }} {{ stage.etudiant.nom_etudiant }}</td>
                <td>{{ stage.entreprise.nom_entreprise }} ({{ stage.entreprise.lieu }})</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
